:root {
  --primary-color: rgb(7, 7, 7);
  --background-color: black;
  --secondary-color: rgb(35, 36, 42);
  --yellow: #ffdd40;
  --dark: #2f313a;
  --deg: -86deg;
  --trans: all 0.4s ease 0s;
  --font-size: 72px;
}
body {
  background-image: linear-gradient(
    to right,
    rgba(13, 1, 27, 0.276),
    rgb(38, 9, 70),
    rgba(0, 128, 0, 0.118)
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: 28px;
  font-family: "Caveat", cursive;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  font-size: calc(var(--font-size)*0.3);
  border: none;
  background-color: transparent;
}
.headline {
  font-family: "Nabla", cursive;
  font-size: var(--font-size);
}

ul {
  list-style-type: none;
}
li {
  line-height: 2rem;
}
.pokemon-list {
  padding: 0.1em 0 0em 0em;
  margin: 0;
}

.pokemon-list-item  {
  /* margin: 0.01em 0 0.5em; */
  padding: em;
  background: linear-gradient(
    83deg,
    var(--yellow) 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
  position: relative;
  list-style: none;
  /* display: inline-block; */
  transform: scale(0.85);
  transition: var(--trans);
}

.pokemon-list-item:nth-of-type(even) {
  /* text-align: right; */
  background: linear-gradient(
    -83deg,
    var(--yellow) 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
}
.pokemon-list-item:hover {
  transform: scale(1);
  transition: var(--trans);
  filter: drop-shadow(0px 20px 10px #0008);
}


/*  Style Big Pokemon Text */

.bigPokemon {
  color: var(--secondary-color);
}

@media screen and (max-width: 620px) {
  .headline {
    font-size: calc(var(--font-size) * 0.5);
  }
}
@media screen and (max-width: 620px) {
  .headline {
    font-size: calc(var(--font-size) * 0.5);
  }
}
