:root {
  --primary-color: rgb(174, 243, 15);
  --background-color: rgb(74, 74, 74);
  --secondary-color: rgb(35, 36, 42);
  --yellow: #ffdd40;
  --dark: #2f313a;
  --font-family: Genos, sans-serif;
  --font-size: 72px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: 28px;
  font-family: var(--font-family);
  overflow-x: hidden;
  height: 100%;
}

button {
  color: var(--primary-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: calc(var(--font-size) * 0.3);
  border: none;
}

.headline {
  font-family: "Nabla", cursive;
  font-size: var(--font-size);
}

.list-wrapper {
  margin: auto 1em;
}

ul {
  list-style-type: none;
}

li {
  line-height: 2rem;
  align-items: center;
}

.pokemon-list {
  padding: 0.1em 0 0em 0em;
  margin: 0;

  padding: 0.1em 0 0em 0em;
  width: 100%;
  flex-wrap: wrap;
}

.pokemon-list-item {
  margin: 0.25em;
  padding: 0.2em 1em;
  position: relative;
  list-style: none;
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 0.5em;
}

.pokemon-list-item button.button-class:hover {
  text-decoration: underline;
}
/*  Style Big Pokemon Text */

.bigPokemon {
  color: var(--secondary-color);
}
.footer {
  margin-top: 1em;
}
.creator {
  margin: 0;
  background-color: light-grey;
  width: 100%;
}

.author-text {
  font-size: calc(var(--font-size) * 0.2);
}
.small-text {
  font-size: calc(var(--font-size) * 0.1);
}

/* Media Queries */

/* Media Query for smaller Screens */
@media screen and (max-width: 600px) {
  .pokemon-list {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
  .modal .headline {
    font-size: calc(var(--font-size) * 0.3);
  }
}

/* Media Query for bigger Screens */
@media screen and (max-width: 922px) {
  .headline {
    font-size: calc(var(--font-size) * 0.7);
  }
}

/* Bootstrap Overrides */

/* .list-group-item {
  background-color: transparent;
} */
